body{

    padding: 0;
    margin: 0;
    background: #FFFDF2;
}
#main-section{

    background: rgba(128, 128, 128, 0);
    width: 100%;
    height: auto;
}
#links{
    
    background: #ff9900;
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
}
#logo{
    width: 55px;
    height: 55px;
    margin-left: 70px;
    margin-top: 0px;
    display: block;
    position: absolute;
    background: rgba(128, 0, 128, 0);
}
#div-logo{
    background: #006e00;
    width: 250px;
	height: 60px;
	transform: skew(-25deg);
    position: absolute;
    margin-left: -30px;
}
#content{
    background: rgba(0, 87, 128, 0);
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer{

    background: #60605c;

    width: 100%;
    height: 20px;
    text-align: center;
    height: 47px;
}
#div-liks{
    background: rgba(196, 23, 23, 0);
    margin-top: 5px;
    padding: 10px;

    margin: auto;
}
a{
    color: rgb(0, 0, 0);
    outline: none;
    text-decoration: none;
    margin: auto;
    margin-left: 10px;
    font-family:'Quicksand', sans-serif;;
    font-size: 12pt;
    transition: .2s;
    font-weight: bold;
}
a:hover{

    color: rgb(0, 141, 12);
}

span{
    margin-left: 5px;
    font-family: 'Quicksand', sans-serif;;
    font-size: 14pt;
    color: rgb(0, 0, 0);

}
#img-1{

    background: rgba(255, 0, 0, 0);
    width: 400px;
    height: 510px;
    order: 1;
    padding: 20px;
}
#img-2{

    background: rgba(44, 138, 0, 0);
    width: 500px;
    height: 510px;
    order: 2;
    padding: 20px;

    display: flex;
    flex-direction: column;
}
#imgLeft{

    width: 400px;
    height: 520px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#imgRight{
    width: 500px;
    height: 245px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#text-img1{

    position: absolute;
    display: flex;
    background: linear-gradient(180deg, rgba(78,78,78,0) 0%, rgba(0, 0, 0, 0.486) 88%);
    padding: 10px;
    width: 380px;
    height: 490px;
    margin: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
#text-img1:hover{

    background: linear-gradient(180deg, rgba(78,78,78,0) 0%, rgba(0,0,0,1) 88%);
}
#text-img2{

    position: absolute;
    display: flex;
    background: linear-gradient(180deg, rgba(78,78,78,0) 0%, rgba(0, 0, 0, 0.486) 88%);
    padding: 10px;
    width: 480px;
    height: 215px;
    margin: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
#text-img2:hover{

    /* text-decoration: underline; */
    background: linear-gradient(180deg, rgba(78,78,78,0) 0%, rgba(0,0,0,1) 88%);
    
}
#textIMG2{
    margin-top: 150px;
    color: white;
}
#textIMG1{
    margin-top: 420px;
    color: white;
}
#img-up{
    background: rgba(255, 0, 0, 0);
}
#img-down{
    background: rgba(0, 0, 255, 0);
    margin-top: 25px;
}
#links-medias{

    color: white;
    margin: 10px;
    font-size: 16pt;
}
#iconsFooter{
    padding: 10px;
    background: rgba(128, 0, 128, 0);
    width: 200px;
    height: 15px;
    margin: auto;
}
